div{
   // border: 1px  solid black;
    margin: 1%;
    padding: 1%;
}
#button{
    margin-right: 1%;
}
#x{
    border-radius: 20%;
    background-color: rgb(101, 161, 230);

}
#more{
    border-radius: 20%;
    background-color: rgb(101, 161, 230);
}
#wrap{
    margin-left: 15%;
    border: 1px  solid black;
    background-color:  rgb(241, 235, 201);;
    width: 70%;
    
}


